<span id="form-comment">
  <%= form_for comment do |f| %>
    <div class="field">
      <%= f.hidden_field :parent_id, value: @comment.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :content, placeholder: t("posts.show.compose"),
        required: true, class: "form-control" %>
    </div>
    <%= f.submit t("posts.show.comment"), class: "btn btn-xs btn-custom2" %>
  <% end %>
</span>
