<div class="container">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag @post.post_img.url(:post_show), class: "post-show" %>
    </div>
    <div class="col-md-7">
      <div class="post-info">
        <h2 class="post-title"><%= @post.title %></h2>
        <p class="post-content"><%= @post.content %></p>
      </div>
    </div>
  </div><br/>

  <div class="links btn-group">

    <% if user_signed_in? %>
      <% if @post.user_id == current_user.id %>
        <%= link_to t("posts.show.back"), posts_path, class: "btn btn-custom" %>
        <%= link_to t("posts.show.edit"), edit_post_path(@post), class: "btn btn-custom" %>
        <%= link_to t("posts.show.delete"), post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
      <% end %>
    <% else %>
      <%= link_to t("posts.show.back"), root_path, class: "btn btn-custom" %>
    <% end %>
  </div>
</div>
